*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

body {
  margin: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}
